body{
  width: 100%;
  height: 100%;
  
  }

#vista1 {
background-image: url("img.webp");   
border: solid 20px black;
position: relative;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
padding: 250px;
top: 0px;
}

#tituloBienvenida {
    color: #c5c1c1; 
    text-shadow: 8px 8px 8px #ba0c0c;
    font-family: Arial, sans-serif;
    font-size: 3em;
    left: 38%;
    position: absolute;
    top: 0;
}

#ingresaNombre {
    color: #c5c1c1;  
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 1em;
    left: -28%;
    top: 220px;
    font-weight: bold;
}
#userName {
    position: relative;
    left: -28%;
    top: 240px;
}
#presionaBoton {
    color: #f8f9f6;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 1em;
    left: 90%;
    top: 40px;
    font-weight: bold;  
    animation: cambia-color 2s ease-in-out infinite; 
}
@keyframes cambia-color {
    0% {
      color: rgb(255, 255, 255);
    }
  
    50% {
      color: rgb(119, 16, 16);
    }
  
    100% {
      color: rgb(222, 142, 43);
    }
}
#botonContinuar{
    left: 110%;
    top:200px;
    background-image: url('boton1.webp');
    position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  /* Establece el ancho del botón de acuerdo con el ancho de la imagen */
  height: 100px;
  border-radius: 30%;
  border: none;
}
#imagen{
    border: solid 10px black;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 5%;
}
#saludoJugador {
    color: #c5c1c1; 
    text-shadow: 8px 8px 8px #ba0c0c;
    font-family: Arial, sans-serif;
    font-size: 3em;
    left: 20%;
    position: absolute;
    top: 0;

}
    #vista2 {
  background-image: url("./gallery/fondo.jpeg");   
 
  position:relative;
  background-size: cover;
  
  padding: 7.5%;
  top: 0px;
  }
  



.container {
  display:flex;
}
.column {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
  text-align: center;

}
ul {
  list-style-type: none;
}


table{
  display: flex;
  position: center;

}

#casa{
  left: 0.625em;

  position: center;

width: 0.625em;
/* Establece el ancho del botón de acuerdo con el ancho de la imagen */
height: 0.625em;



}
#vistaCasa{
  width: 10px;
 top: 10px
  
}
img{
  width: 10.8em;
}
tr{
  left: 10%;
  text-align: center;
}
tbody{
  left: 10px;
}

header{
  background-color: aquamarine;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav{
  display: flex;
  justify-content: space-between;

  max-width: 992px;
  margin: 0 auto;
}

.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 30px;
  width: max-content;

}
.nav-menu-link{
  padding: 8px 12px;
}
.nav-menu-link:hover{
  background-color: aquamarine;
}
.logo{
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;

}
